{% extends 'base.html' %}

{% block body %}
    <h1>Albert Stanley</h1>
    <h2>About Me</h2>
    <img src="../static/AlbertProfile.jpg" alt="Alternate Info" width="300">
    <p>I am a second year <b>Computer Science and Engineering Major</b> at UC Davis.
        I am currently located in Belmont, CA. This website is a <i>personal</i> project.
        I will put my programming projects and thoughts, as well as posts about what I am currently learning. 
    </p>

    <h2>My Interests</h2>
        <ul>
            <li>Machine Learning</li>
            <li>Image Processing</li>
            <li>Biology</li>
        </ul>
    
    <h2>Connect</h2>
        <a href="www.youtube.com" class="badge badge-primary">YouTube</a>
        <a href="www.instagram.com" class="badge badge-primary">Instagram</a>
        <a href="www.facebook.com" class="badge badge-primary">Facebook</a>

    <h2>Author Info</h2>
    <address><p> 
        <a href="mailto:albertjstanley@gmail.com"> albertjstanley@gmail.com</a>
    </p>
    <p>Belmont, California</p>
    </address>
{% endblock %}